<!DOCTYPE html>
<html>

<head>

</head>

<body>
    
    <div class="mt-4">
        <div class="col d-flex justify-content-center">
                    <h1 style="color: orange">Kết quả dự đoán</h1> </div>
        <div class="col d-flex justify-content-center">
            <form action="/history">
                <input type="date" id="day" name="day">
                <button type="submit">Tra cứu</button>
            </form></div>
        <div class="row">
            {{!-- <div class="mt-4"></div> --}}
            <div class="col"></div>
            <div class="col-8">
                <div class="col d-flex justify-content-center">
                <h1 id="date" style="color: orange">Kết quả dự đoán ngày: {{dateShow}}-{{monthShow}} </h1>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th scope="col">STT</th>
                            <th scope="col">Nhiệt độ (độ C)</th>
                            <th scope="col">Độ ẩm (%)</th>
                            <th scope="col">Thời điểm</th>


                        </tr>
                    </thead>
                    <tbody>

                        {{#each prediction}}
                        <tr>
                            <th scope="row">{{sum @index 1}}</th>
                            <td>{{this.temperature}}</td>
                            <td>{{this.humidity}}</td>
                            <td>{{this.Hour}}h</td>

                        </tr>

                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col"></div>
        </div>
        <div class="mt-4"></div>
    </div>
</body>

</html>